[submodule "bosh-lite"]
	path = bosh-lite
	url = https://github.com/cloudfoundry/bosh-lite
[submodule "cf-release"]
	path = cf-release
	url = https://github.com/cloudfoundry/cf-release
[submodule "cf-services-contrib-release"]
	path = cf-services-contrib-release
	url = https://github.com/cloudfoundry-community/cf-services-contrib-release
